packages

.vs
*.suo
*.user
_ReSharper.*

*/**/obj/*

*/**/bin/x64/*
*/**/bin/x84/*
!*/**/bin/x64/Database.db
!*/**/bin/x64/UserInfo.xml
!*/**/bin/x86/Database.db
!*/**/bin/x86/UserInfo.xml

*.exe
*.pdb
*.manifest
*.cache

*.dll
!SQLite.Interop.dll
