<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
  </startup>
  <connectionStrings>
    <add name="SQLiteDB" connectionString="Inmjg/JFgr49NI4rmmKlOxOG/iYQ0EslF/8TvBP3Qn0=" providerName="System.Data.SQLite.EF6"/>
  </connectionStrings>
  <appSettings>
    <add key="Identity" value="学生,教师,管理员"/>
    <add key="Speciality" value="ALL,信息管理与信息系统,信息资源管理,计算机软件"/>
    <add key="Grade" value="ALL,2019,2020,2021,2022"/>
  </appSettings>
</configuration>